@charset "utf-8";

//=======================================
// 共通設定
//=======================================
body {
  background-color: #fff;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    width: 97%;
  }
}

main {
  padding-top: 74px;
}

html,
body {
  overflow-x: hidden;
}

//=======================================
// nav
//=======================================
header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;

  nav {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
      padding: 0 50px;
    }
  }

  .logo {
    width: 60px;
    color: #777;
    font-size: 40px;
    vertical-align: middle;
  }

  .btn {
    padding: 0 15px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: #6ba7eb;
    font-size: 12px;
    padding: 12px 14px;

    &:hover {
      background-color: #333;
      transition: background-color 0.3s;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .drawer_open {
    display: none;

    @media screen and (max-width: 767px) {
      display: inline-block;
      margin-left: auto;
      width: 40px;
      height: 40px;
      position: relative;
      border: 2px solid #777;
      cursor: pointer;
      transition: border-color 0.3s ease;
      padding: 0;

      &:hover {
        border-color: #777;
      }

      span,
      span:before,
      span:after {
        content: '';
        display: block;
        height: 2px;
        width: 20px;
        background-color: #777;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 0.3s ease;
      }

      span {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      span:before {
        top: -8px;
      }

      span:after {
        top: 8px;
      }

      &:hover span,
      &:hover span:before,
      &:hover span:after {
        background-color: #333;
      }
    }
  }
}

//=======================================
// キービジュアル
//========================================
.keyvisual {
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  padding: 400px 0;
  background-size: cover;
  background-position: center center;

  h1 {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  @media screen and (max-width: 1199px) {
    padding: 250px 0;

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 200px 0;
  }
}

//=======================================
// work
//========================================
.work {
  background-color: #e3f2fd;
  padding-top: 50px;

  .work_box {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 1199px) {
      display: block;
    }
  }

  .pc_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;

    img {
      width: 250px;
    }
  }

  .text_box {
    flex: 6;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
    color: #333;
  }

  p {
    font-size: 15px;
    line-height: 18px;
    word-break: break-word;
    color: #555;
    text-align: center;
  }

  @media screen and (max-width: 1199px) {
    padding-bottom: 50px;
    width: 100%;
  }
}

//=======================================
// skills
//========================================
.skills {
  padding: 50px 0 70px;

  h2 {
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;

    img {
      width: 300px;
      height: 300px;
      opacity: 0.7;
      transition: opacity 0.7s ease-in-out;
      display: block;

      &:hover {
        opacity: 1;
      }
    }
  }

  .d--grid--rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    grid-template-rows: 300px 300px;

    @media screen and (max-width: 1199px) {
      grid-template-columns: none;
      gap: 0;

      li:nth-child(3n) {
        margin-bottom: 80px;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//=======================================
// plan
//========================================
.plan {
  background-color: #d0dfea;
  padding: 50px 0 50px 0;

  h2 {
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
  }

  .cell--table {
    table-layout: fixed;
    width: 100%;

    thead tr th:first-child {
      border-left: none;
    }

    tbody th {
      border-left: none;
    }

    th {
      background-color: #6ba7eb;
      font-size: 16px;
      line-height: 26px;
      padding: 10px 10px;
    }

    th,
    td {
      border-left: 2px solid #fff;
      font-size: 16px;
      line-height: 26px;
      padding: 10px 10px;
    }

    td {
      text-align: center;
    }

    tr {
      background: #f9f9f9;

      &:nth-child(even) {
        background: #e0efff;
      }
    }

    .left_th1 {
      background-color: #f9f9f9;
    }

    .left_th2 {
      background: #e0efff;
    }

    @media screen and (max-width: 767px) {
      th {
        font-size: 14px;
        line-height: 22px;
      }

      td {
        font-size: 12px;
      }
    }
  }
}

//=======================================
// SNS
//========================================
.sns {
  width: 100%;
  background-color: #e3f2fd;
  padding: 200px 0;

  .icon_box {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;

      &:hover {
        background-color: #fff;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 185px;
        padding: 0;
        background-color: transparent;
        transition: background-color 0.5s ease;
        text-decoration: none;
      }

      i {
        font-size: 40px;
        color: #8c8c8c;
        overflow: hidden;
      }
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        padding: 50px 0;
        box-sizing: border-box;
        width: 100%;
      }

      i {
        margin: 0;
      }

      a {
        width: 100%;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 50px 15px;
    box-sizing: border-box;
  }
}

//=======================================
// footer
//========================================
footer {
  height: 55px;
  background-color: #cfd8dc;
  position: relative;

  small {
    font-size: 10px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 20px;
    right: 100px;
  }
}